
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head ('Login')" />

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Instituto</b>Belgrano</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingrese al Sistema</p>

                <div class="alert alert-danger" th:if="${param.error}">
					<h6><i class="icon fas fa-ban"></i>Atenci&oacute;n!</h6>
                  	El nombre de Usuario y/o Contrase&ntilde;a son incorrectos
				</div>
				
				<div class="alert alert-info" th:if="${param.logout}">
					<h6><i class="icon fas fa-door-closed"></i>Hasta pronto!</h6>
                  	La sesi&oacute;n se cerr&oacute; correctamente
				</div>
        
                <form th:action="@{/security/login}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" id="username" name="username" autofocus="autofocus" autocomplete="off">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" autocomplete="off">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember"> <label for="remember">
                                    Remember Me </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary"> <i
                        class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a> <a href="#" class="btn btn-block btn-danger"> <i
                        class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- REQUIRED SCRIPTS -->
    <div th:replace="fragments/jscripts::required-js"></div>

</body>
</html>
